/* For webkit browsers */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #141313; /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #1e1c1c; /* Set the color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Set the color of the scrollbar thumb on hover */
}

*{
  text-decoration: none;
}
a,a:visited,a:active,a:hover{
  text-decoration: none;
  color:white;
}

h1{
  font-family:'Courier New', Courier, monospace;
}